#myCanvas {
    background-color: #fff;
}

.controls {
    top: 300px;
    width: 350px;
    background-color: #2277dd;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-radius: 10px;
}

.controls_2 {
    top: 250px;
    width: 400px;
    background-color: #FF8C00;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-radius: 10px;
}

.controls_3 {
    top: 250px;
    width: 350px;
    background-color: #00FF00;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-radius: 10px;
}

.controls_4 {
    top: 250px;
    width: 350px;
    background-color: #ff5050;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-radius: 10px;
}

.filters {
    top: 150px;
    width: 350px;
    background-color: #33FFE6;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-radius: 10px;
}

.canvas {
    position: absolute;
    z-index: 1;
    right: 540px;
    width: 800px;
    height: 800px;
}

.canvas-container {
    position: absolute !important;
    right: 540px !important;
    width: 800px !important;
    height: 800px !important;
    
}
